# Archivos de compilación
*.o
*.obj
*.exe
*.out
*.dll
*.so
*.dylib

# Directorios de compilación
/build/
/bin/
/Debug/
/Release/

# Archivos de configuración de IDE
.vscode/
*.code-workspace
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de registro
*.log

# Archivos temporales
*.tmp
*.temp
*.swp
*.bak
*.old

# Archivos de respaldo
*.orig
*.rej

# Archivos de configuración personal
*.env
